body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
}
.sidebar{
    width: 276px;
    height: 767px;
    background-color: #a5a4a4;
    border-radius: 25px;
}
.sidebar .logo{
    display: flex;
    align-items: center;
}
.sidebar .logo img{
    width: 75px;
    height: 64px;
    margin-left: 30px;
    margin-top: 10px;
}
.sidebar .logo a{
    color: black;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 10px;
    width: 109px;
    height: 29px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
}
.sidebar .data-siswa, .data-barang{
    line-height: -50px;
    margin-left: 45px;
    margin-top: 80px;
    font-size: 24px;
}
.sidebar .data-siswa a, .data-barang a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.3s;
}
.sidebar .data-siswa a:hover, .data-barang a:hover{
    color: black;
}
/* sidebar */
p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 150px;
    margin-left: 300px;
    margin-top: 250px;
}
